.banner {
    color: white;
    background-image: url('../../../assets/images/banner.webp');
    height: 300px;
}

.banner .mask {
    position: absolute;
    background-color: white;
    opacity: 0.4;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.banner .text {
    z-index: 2;
    font-size: 3.5rem;
}