<div class="row">
    <div class="container">
      <!-- Buscador -->
      <form>
        <div class="form-row">
          <div class="d-flex w-100">
            <div class="d-flex align-items-center text-info mr-2">
              <h3 class="font-weight-bold">BUSCAR </h3>
            </div>
            <input type="text" class="form-control" placeholder="¿Que deseas leer hoy?">
          </div>
        </div>
      </form>
      <!-- Productos -->
        <div class="row">
            <div *ngFor="let book of books" class="col-12 col-md-3 my-3">
                <app-book-card [book]="book"></app-book-card>
            </div>
        </div>
    </div>
  </div>